* {
    margin: 0;
    padding: 0;
}
ul,li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.list_wrap ul {
    font-size: 0;
}
.list_wrap .card {
    width: 30%;
    display: inline-block;
    margin-left: 5%;
    margin-top: 40px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0,5);
}
.list_wrap .card:nth-child(3n-2) {
    margin-left: 0;
}
.list_wrap .card:nth-last-child(-n+3) {
    margin-top: 0;
}
.list_wrap .card .image {
    width: 100%;
    height: 200px;
    background-color: #ddd;
    background-size: cover;
}
.list_wrap .card1 .image { background-image: url(../img/best%20of%20me.jpg)}
.list_wrap .card2 .image { background-image: url(../img/careless.jpg)}
.list_wrap .card3 .image { background-image: url(../img/cold.jpg)}
.list_wrap .card4 .image { background-image: url(../img/Destiny.jpg)}
.list_wrap .card5 .image { background-image: url(../img/Fight%20back.jpg)}
.list_wrap .card6 .image { background-image: url(../img/Grateful.jpg)}
.list_wrap .card7 .image { background-image: url(../img/inside.jpg)}
.list_wrap .card8 .image { background-image: url(../img/Rumors.jpg)}
.list_wrap .card9 .image { background-image: url(../img/soldier.jpg)}

.list_wrap .card .cont {
    padding: 12px;
}
.list_wrap .card strong {
    font-size: 16px;
    letter-spacing: -1px;
    display: block;
    margin: 10px 0;
}
.lsit_wrap .card p {
    font-size: 13px;
    letter-spacing: -1px;
}
.list_wrap .card a {
    font-size: 13px;
    letter-spacing: -1px;
    display: inline-block;
    background: #eee;
    padding: 5px 10px;
    margin-top: 10px;
}
.list_wrap .card a:hover{
    background: #325cb2;
    color: #fff;
}